# Dependencies
node_modules
.pnpm-debug.log*
packages/*/pnpm-lock.yaml

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# IDEs
.vscode
.idea
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo
